body{
     /*background: url("../images/dark-grey-terrazzo.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: url("https://www.toptal.com/designers/subtlepatterns/patterns/tweed.png")*/
        background: url("../images/tweed.png");

}
.fa-user-circle{font-size:1.7em;}
.mainLogo{position: absolute;top: 5px;text-decoration: none !important;}
.mainLogo > img {width: 120px;}
.logoText{color: #4CAF50;padding: 0px 10px;font-size: 24px;position: relative;top: 5px;font-family: pacifico}
.userName{float:right;margin:15px;}
.userName > a {color:#333;text-decoration: none;}
.navbar-inverse {background-color: #fff;border-bottom: 2px solid grey;}
.mainSection{margin-top:50px;padding:10px 0px}
.beerDiv{border: 2px solid #fff;border-radius: 5px;margin: 3px 5px;width: 30%;color: #fff;font-family: cursive;min-height: 150px;}
.beerStyle{font-size: 14px;}
.beerOunce{padding-left: 5px;}
.cocktailGlass{position: relative;top:-1px;}
.inlineDiv{display: flex;}
.marginLeft10px{margin-left: 10px;}
.whiteText{color: #fff;}
.paginator{text-align: center;margin-top: 10px;margin-left: -10px;}
.table {
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}
.arrowBox {
    width: 170px;background: #fff;box-shadow: 0 1px 7px 2px rgba(135,158,171,.2);
    -o-border-radius: 4px;-ms-border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
    border-radius: 4px;position: fixed;right: 120px;top:55px;z-index: 1030;
}
.arrowBox:before{
    position: absolute;top: -7px;left: 7px;display: inline-block;content: '';
    border-right: 7px solid transparent;border-bottom: 7px solid transparent;
    border-bottom-color: transparent;border-left: 7px solid transparent;
}
.arrowBox:after {
    position: absolute;top: -6px;right: 8px;display: inline-block;
    content: '';border-right: 6px solid transparent;border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
.arrowBox > ul {list-style-type:none;padding:10px 10px;}
.arrowBox > ul > li {padding: 3px 0px;}
.arrowBox > ul > li > a{color:#333;}
.profileIcon{padding: 0px 10px;}
.searchDiv{margin: 15px auto;}
.cartSection{float: right;margin-top: 13px;}
.leftDiv{}
.rightDiv{}
.addCart{width: 30px;position: absolute;bottom: 20px;right: 10px;cursor: pointer;}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px 10px 10px 10px;
    width: 140px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {left: 0;}

#facebook {top: 80px;background-color: #3B5998;}
#twitter {top: 140px;background-color: #55ACEE;}
#linkedin {top: 200px;background-color: #007bb5;}
#email {top: 260px;background-color: #ff6600}
.fa-facebook, .fa-twitter, .fa-linkedin, .fa-envelope{position:absolute;right:15px}
.cartCounter{
    background: #333;border-radius: 15px;padding: 4px 8px;
    font-size: 12px;color: #fff;position: relative;top: 5px;right: 10px;width: 30px;
}
.center-text{text-align: center; }
.remove-btn{color: #fff;background: #333;border-radius: 20px;padding:1px 5px;}
tbody > tr {min-height: 30px;}

@media (max-width: 767px) {
.arrowBox {right:20px;top:65px;}
.logoText {color: #4CAF50;padding: 0px 0px;font-size: 18px;position: relative;top: 5px;}
.mainLogo {top: 7px;}
.beerDiv{width: auto;margin: 10px 20px;}
.userName {float: right;margin: 15px 0px;}
#facebook {top: 120px;background-color: #3B5998;}
#twitter {top: 180px;background-color: #55ACEE;}
#linkedin {top: 240px;background-color: #007bb5;}
#email {top: 300px;background-color: #ff6600}
fa-facebook, .fa-twitter, .fa-linkedin, .fa-envelope{position:absolute;right:15px;top:18px;}
.cartCounter{
    background: #333;border-radius: 15px;padding: 4px 8px;
    font-size: 12px;color: #fff;position: relative;top: 5px;right: 10px;width: 30px;
}
.addCart {
    width: 30px;position: absolute;top: 5px;
    right: 5px;cursor: pointer;vertical-align: middle;
    border: 2px solid;border-radius: 25px;height: 30px;
}
.addCart > img {height: 20px;width: 20px;    margin: 5px 3px;}
}


@media (min-width: 768px) and (max-width: 1024px) {

    .beerDiv{width: auto;margin: 10px 20px;}
.userName {float: right;margin: 15px 0px;}
#facebook {top: 120px;background-color: #3B5998;}
#twitter {top: 180px;background-color: #55ACEE;}
#linkedin {top: 240px;background-color: #007bb5;}
#email {top: 300px;background-color: #ff6600}
fa-facebook, .fa-twitter, .fa-linkedin, .fa-envelope{position:absolute;right:15px;top:18px;}
.cartCounter{
    background: #333;border-radius: 15px;padding: 4px 8px;
    font-size: 12px;color: #fff;position: relative;top: 5px;right: 10px;width: 30px;
}
.addCart {
    width: 30px;position: absolute;top: 5px;
    right: 5px;cursor: pointer;vertical-align: middle;
    border: 2px solid;border-radius: 25px;height: 30px;
}
.addCart > img {height: 20px;width: 20px;    margin: 5px 3px;}
    
}
